<!DOCTYPE html>
<html>
<head>
  <title>Thedailybadge</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= include_gon(:init => true) %>
  <%= csrf_meta_tags %>
</head>
<body>

  <% if session[:user_id].nil? %>
    <ul>
      <li><%= link_to "Join us!", new_user_path %></li>
      <li><%= link_to "Login", "/login" %></li>
    </ul>
  <% else %>
  <% user = User.find(session[:user_id]) %>
    <ul>
      <li><%= link_to "My Dashboard", user_path(user), id: 'dashboard'  %></li>
      <li><%= link_to "Logout", session_path, method: :delete %></li>
    </ul>
  <% end %>

  <%= yield %>

<%= javascript_include_tag "application" %>

</body>
</html>
